<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 基础设置 -->
	<settings>
		<!-- changes from the defaults -->
		<setting name="logImpl" value="LOG4J"/> 
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	
    <plugins>  
    	<!-- 物理分页,支持mysql、oracle、db2、mssql12、mssql58 -->
    	<plugin interceptor="com.inspur.lambo.framework.interceptor.PaginationInterceptor"> 
    		<property name="dialect" value="postgresql" />
    	</plugin>
    	
    	<!-- SQL监控功能 -->
    	<plugin interceptor="com.inspur.lambo.framework.interceptor.monitor.SqlMonitorPlugin"> 
    		<property name="enable" value="true" />
    	</plugin> 
    </plugins>  
	
	<!-- SQL映射文件 -->
	<mappers>

	</mappers>

</configuration>
